@page
@model RPGWizard1.Pages.AlignmentsModel

@{
    ViewData["Title"] = "Choose Alignment";
}

<h1>Choose Alignment</h1>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>
<form action="Alignments" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alignment[0].Alignments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alignment[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alignments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<input type="submit" value="Save" class="btn btn-primary" />
