@page
@model RPGWizard1.Pages.Races.IndexModel

@{
    ViewData["Title"] = "Choose your Race";
}

<h1>Choose your Race</h1>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>
<form method="post">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Races[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Races[0].Traits)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Races)
            {
                <tr>
                    <td>
                        <input type="radio" name="Race" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Traits)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary" />
</form>